<template>
  <v-container>
    <v-form>
      <v-text-field label="Search" v-model="search" append-icon="search"></v-text-field>
    </v-form>

    <v-data-table :headers="headers" :items="sheet" :search="search" hide-actions hide-headers>
      <template v-slot:items="props">
        <v-container v-bind="{ [`grid-list-${size}`]: true }" fluid>
          <v-card flat tile color="primary" class="white--text">
            <v-card-title primary-title>
              <div>
                <h3 class="headline mb-0">{{props.item.name}}</h3>
                <h4>{{props.item.sector}}</h4>
                <div>{{props.item.description}}</div>
              </div>
            </v-card-title>

            <v-card-actions>
              <v-btn flat color="secondary" :to="`/empresas/${props.item.name}`">Saiba mais</v-btn>
            </v-card-actions>
          </v-card>
        </v-container>
      </template>
      <template v-slot:no-results>
        <v-alert
          :value="true"
          color="error"
          icon="warning"
        >Your search for "{{ search }}" found no results.</v-alert>
      </template>
    </v-data-table>
  </v-container>
</template>

<script>
export default {
  data: () => ({
    size: "lg",
    sheet: [],
    search: "",
    headers: [
      { value: "name" },
      { value: "sector" },
      { value: "tech" },
      { value: "description" },
      { value: "products" },
      { value: "address" },
      { value: "email" }
    ]
  }),
  methods: {
    async foo() {
      const request = await fetch(
        "https://spreadsheets.google.com/feeds/list/19y6seVpLZwrmygOpTrPpC-oUsZoXtLJHTXGQcNOFr80/opfe7m9/public/values?alt=json"
      );
      const data = await request.json();
      data.feed.entry.forEach(row => {
        if (row.gsx$isvalid.$t == "OK") {
          let v = {
            name: row.gsx$nome.$t,
            sector: row.gsx$setor.$t,
            tech: row.gsx$tecnologia.$t,
            description: row.gsx$descrição.$t,
            products: row.gsx$produtos.$t,
            address: row.gsx$endereço.$t,
            email: row.gsx$email.$t
          };
          this.sheet.push(v);
        }
      });
      return data;
    },
    async q() {
      const request = await fetch(
        "https://www.googleapis.com/customsearch/v1?key=AIzaSyA8_Wy4SQLggcaA2khi5Av3TjwcykLRXSI&cx=015489694753897516730:c3ctlxeukh0&q=lasagna"
      );

      const data = await request.json();
      console.log(data);
    }
  },
  beforeMount() {
    this.foo();
  }
};
</script>