<template>
  <v-app>
    <v-toolbar color="primary" class="white--text">
      <v-toolbar-title>{{title}}</v-toolbar-title>
      <v-spacer></v-spacer>
      <v-toolbar-items class="hidden-sm-and-down">
        <v-btn
          class="white--text"
          flat
          v-for="(item, i) in items"
          :key="i"
          :to="item.to"
          router
          exact
        >{{item.title}}</v-btn>
      </v-toolbar-items>
    </v-toolbar>

    <v-content>
      <nuxt />
    </v-content>

    <!-- <v-footer :fixed="fixed" app>
      <span>&copy; 2019</span>
    </v-footer>-->
  </v-app>
</template>

<script>
export default {
  data() {
    return {
      title: "SOLUS",
      items: [
        {
          title: "Home",
          to: "/"
        },
        {
          title: "Iniciativas",
          to: "/iniciativas"
        },
        {
          title: "D&I",
          to: "/desenvolvimento-e-inovacao"
        },
        {
          title: "Educação",
          to: "/educacao"
        },
        {
          title: "Empresas",
          to: "/empresas"
        },
        {
          title: "Contato",
          to: "/contato"
        }
      ]
    };
  }
};
</script>
