<template>
  <v-app>
    <v-carousel>
      <v-carousel-item v-for="(item,i) in items" :key="i" :src="item.src"></v-carousel-item>
    </v-carousel>

    <v-parallax height="1000" src="statue3.jpg">
      <v-timeline>
        <v-timeline-item v-for="item in options" :key="item" :color="primary" large>
          <v-card color="primary" class="white--text">
            <v-card-title class="title">{{item.title}}</v-card-title>
            <v-card-text class="white text--primary">
              <p>Lorem ipsum dolor sit amet, no nam oblique veritus. Commune scaevola imperdiet nec ut, sed euismod convenire principes at. Est et nobis iisque percipit, an vim zril disputando voluptatibus, vix an salutandi sententiae.</p>
              <v-btn :to="item.to" color="primary" class="mx-0" outline>Button</v-btn>
            </v-card-text>
          </v-card>
        </v-timeline-item>
      </v-timeline>
    </v-parallax>
  </v-app>
</template>

<script>
export default {
  data() {
    return {
      options: [
        {
          title: "Iniciativas",
          to: "/iniciativas"
        },
        {
          title: "Desenvolvimento & Inovação",
          to: "/desenvolvimento-e-inovacao"
        },
        {
          title: "Educação",
          to: "/educacao"
        },
        {
          title: "Empresas",
          to: "/empresas"
        }
      ],
      items: [
        {
          src: "https://cdn.vuetifyjs.com/images/carousel/squirrel.jpg"
        },
        {
          src: "https://cdn.vuetifyjs.com/images/carousel/sky.jpg"
        },
        {
          src: "https://cdn.vuetifyjs.com/images/carousel/bird.jpg"
        },
        {
          src: "https://cdn.vuetifyjs.com/images/carousel/planet.jpg"
        }
      ]
    };
  }
};
</script>
